/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Baskerville&family=Reenie+Beanie&display=swap');

/* Wildcard selector to remove default styles */
* {
    padding: 0;
    margin: 0;
}

/* General styles */
body {
    min-height: 100vh;
    text-align: center;
    background: url(/assets/images/secondpage.jpg) no-repeat center center;
    background-size: cover;
}

/* Styles for quiz landing page */
.container {
    background: url(/assets/images/backgroundchoice.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.playButton {
    display: inline-block;
    padding: 20px 15px;
    border-radius: 2px;
    margin-top: 20px;
    background-color: #ebb40f00;
    color: #fff;
    text-decoration: none;
    font-family: 'Reenie Beanie', cursive;
    font-weight: bold;
    font-size: 22px;
}

.playButton:hover {
    background-color: #f5b505;
}

/* Styles for quiz main page */
h1 {
    color: black;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    color: rgb(196, 8, 8);
    font-family: 'Libre Baskerville', serif;
    font-size: 26px;
    font-weight: bold;
}

h3 {
    color: rgb(196, 8, 8);
    font-family: 'Reenie Beanie', cursive;
    font-size: 50px;
    font-weight: bold;

}

.quiz-container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #ffffff43;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.question-container {
    text-align: center;

}

#play-again-container {
    text-align: center;
    margin-top: 20px;
}

#play-again {
    padding: 15px 20px;
    background-color: #f5b505;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Reenie Beanie', cursive;
    font-weight: bold;
    font-size: 21px;
}

.answer-options {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.submit-answer {
    width: 280px;
    margin: 10px 0;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.18);
    color: #121111;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 800px;
    outline: none;
    border: none;
    cursor: pointer;
}

.submit-answer:hover {
    opacity: .8;
    background-color: #ffffff;
}

.correctStyle {
    background-color: #17e46c;
}

.incorrectStyle {
    background-color: #f0230c;
}

/* Adding responsiveness to the play button */

@media (max-width: 768px) {
    .playButton {
        padding: 10px 12px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .playButton {
        padding: 8px 10px;
        font-size: 16px;
    }
}